<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
  <select id="hello" resultType="string">
    SELECT 'Hello Mybatis' FROM DUAL
  </select>
  <select id="reqAccount" resultType="kr.co.vo.AccountVO">
  	SELECT AID, APW, AEMAIL, ADATE, ASTATE FROM 회원요청테이블
  </select>
  <!--  
  <insert id=""></insert>
  <update id=""></update>
  <delete id=""></delete>
  -->
</mapper>