<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmarkMapper">
	<select id="selectAll" resultType="model.dto.BookmarkDTO">
		SELECT id, url, name FROM BOOKMARK_T
	</select>
	
	<select id="selectAllById" parameterType="model.dto.BookmarkDTO" resultType="model.dto.BookmarkDTO">
		SELECT ID, USERID, URL, NAME FROM BOOKMARK_T WHERE USERID =#{userId}
	</select>
	<select id="selectId" parameterType="model.dto.BookmarkDTO" resultType="model.dto.BookmarkDTO">
		SELECT ID, USERID, URL, NAME FROM BOOKMARK_T WHERE ID =#{id} AND USERID =#{userId}
	</select>
	<select id="getRowNum" parameterType="model.dto.BookmarkDTO" resultType="int">
		SELECT COUNT(*) FROM BOOKMARK_T WHERE USERID=#{userId}
	</select>	
	<select id="selectPage" parameterType="map" resultType="model.dto.BookmarkDTO">
		SELECT *
   		  FROM(SELECT ROWNUM AS N
   			        , ID
   			        , USERID
             		, URL
             		, NAME 
          		 FROM (SELECT * FROM BOOKMARK_T WHERE USERID = #{userId} ORDER BY ID)
       			)WHERE N BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="insert" parameterType="model.dto.BookmarkDTO">
		INSERT INTO BOOKMARK_T VALUES(#{id},#{userId},#{url},#{name})
	</insert>
	<select id="getNextId" resultType="int">
		SELECT NVL( MAX(id), 0)+1  FROM BOOKMARK_T
	</select>
	<update id="update" parameterType="model.dto.BookmarkDTO">
		UPDATE BOOKMARK_T 
           SET url= #{url}
             , name= #{name}
         WHERE id = #{id}
	</update>
	<delete id="delete" parameterType="model.dto.BookmarkDTO">
		DELETE FROM BOOKMARK_T WHERE id = #{id} AND USERID =#{userId}
	</delete>
	
	
</mapper>