<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="visitMapper">
	<select id="connectTest" resultType="string">
		SELECT 'CONNECT SUCCESS' FROM DUAL
	</select>
	<insert id="insert" parameterType="model.dto.VisitDTO">
		INSERT INTO VISIT_T VALUES(#{id}, #{context}, DEFAULT)
	</insert>
	<select id="select" resultType="model.dto.VisitDTO">
		SELECT id, context, createdate FROM VISIT_T ORDER BY createdate DESC
	</select>
	<select id= "selectid" resultType= "model.dto.VisitDTO" parameterType= "model.dto.VisitDTO">	
		SELECT id, context, createdate FROM VISIT_T
		 WHERE id = #{id}
 		 ORDER BY createdate DESC
	</select>
	<delete id="delete" parameterType="model.dto.VisitDTO">
		DELETE FROM VISIT_T WHERE createdate = #{createDate}
	</delete>
	
	<select id="selectOne" resultType= "model.dto.VisitDTO" parameterType="model.dto.VisitDTO">
		SELECT id, context, createdate FROM VISIT_T WHERE createdate= #{createDate}
	</select>
	
	<update id="update" parameterType="model.dto.VisitDTO" >
		UPDATE VISIT_T 
   		   SET id= #{id}
             , context= #{context}
         WHERE createdate= #{createDate}
	</update>
	
	<select id="selectPage" parameterType="map" resultType="model.dto.VisitDTO">
		SELECT id, context, createdate 
  		  FROM(SELECT ROWNUM AS N 
	     			, id
	     			, context
	     			, createdate
	  			 FROM (SELECT *FROM VISIT_T ORDER BY CREATEDATE DESC) 
	  	 		)
		 WHERE N BETWEEN #{start} AND #{end}
	</select>
	
	<select id="getRowCount" resultType="int">
		SELECT COUNT(*) FROM VISIT_T
	</select>
	
</mapper>