@charset "UTF-8";
 *{
	box-sizing: border-box;
}
.wrap.header{
	background-color: #e6c11a;
}
.wrap.footer{
	position:relative;
	background-color: beige;
}
.wrap.footer>.btn.top{
	position: absolute;
	left: 10px;
	top:10px;
}

header{
	width: 960px; margin: 0 auto;
	/* 5. 테두리 - content-box --> border-box 지정 */
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
	box-sizing: border-box;
	/* 20~*/
	position: relative;
	/*자식 중 absolute가 있으면 height 지정*/
	height: 200px	
}
aside{
	width: 960px; margin: 0 auto;
	/* 5. 테두리 - content-box --> border-box 지정 */
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
	
	border: 1px solid black;
}
section{
	width: 960px; margin: 0 auto;
	/* 5. 테두리 - content-box --> border-box 지정 */
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
	
	border: 1px solid black;
}


footer{
	width: 960px; margin: 0 auto;
	/* 5. 테두리 - content-box --> border-box 지정 */
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
	
}